* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}



/* px fixed hote hain ya screen ke pixel pr depend krte hain. */

/* .box {
    height: 300px; -- < ya fix height hai ya screen ki pixel pr depend krta hai
    width: 300px;  -- < ya fix width hai ya screen ki pixel pr depend krta hai
    background-color: crimson;
}

-- % ya depend krta hai apne parent wale div pr 

.inner {
    height: 50%; -- < ya apen parent div pr depend krta hai kue ka child hai or depend krta hai apne parent pr
    width: 50%; -- < ya apne parent div pr depend krta hai
    background-color: black;
} */

/* vw (viewport width)

vw

.box {
    height: 40vw;
    width: 40vw;
    background-color: red;
}
*/

/* vh (viewport height)

vh

.box {
    height: 40vh;
    width: 40vh;
    background-color: red;
}
    
*/


/* vmin and vmax */

/* vmin => viewport maximun*/
/* h1 {
    font-size: 10vmax;
} */
/* vmin => viewport minimun */

/* h1 {
    font-size: 10vmin;
} */




/* em rem*/


/* .box {
    height: 400px;
    width: 600px;
    background-color: lightseagreen;
    font-size: 20px;
}

.box h1 {
    font-size: 2em;
}

.box h2 {
    font-size: 1.5em;
}

.box p {
    font-size: 2em;
} */


/* ch */

/* h1 {
    width: 1ch;
} */


/* lh */


.parent {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.chaild1 {
    height: 200px;
    width: 200px;
    background-color: burlywood;
    flex-shrink: 0;
    border: 1px solid black;

}

.chaild2 {
    height: 200px;
    width: 200px;
    background-color: pink;
    flex-shrink: 0;
    border: 1px solid black;

}

.chaild3 {
    height: 200px;
    width: 200px;
    background-color: crimson;
    flex-shrink: 0;
    border: 1px solid black;


}